<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Signup</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body class="font-weight-normal font-italic p-3 mb-2 bg-dark text-light">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/login">Login</a></li>
    <li class="breadcrumb-item active" aria-current="page">Signup</li>
  </ol>
</nav>
<h2>Please, fill required informations.</h2>


<form th:object="${signupform}" th:action="@{/saveuser}" action="#" method="post">
			<div>
				<label> Username :<input type="text" th:field="*{username}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>	
			</div>
			<div>
				<label> Password :<input type="password" th:field="*{password}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>	
			</div>
			<div>
				<label> Re-type Password: <input type="password" th:field="*{passwordCheck}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Password Match Error</p>	
			</div>
			
			<input type="submit" class="btn btn-primary" value="Signup"></input>		
		</form>
			
</body>
</html>